<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partSale">
            <h2><span jhiTranslate="application.partSale.detail.title">Part Sale</span> {{ partSale.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="application.partSale.name">Name</span></dt>
                <dd>
                    <span>{{ partSale.name }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.price">Price</span></dt>
                <dd>
                    <span>{{ partSale.price }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ partSale.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.createdDate">Created At</span></dt>
                <dd>
                    <span>{{ partSale.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.lastModifiedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ partSale.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.lastModifiedDate">Last Updated At</span></dt>
                <dd>
                    <span>{{ partSale.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="application.partSale.priceList">Price List</span></dt>
                <dd>
                    <div *ngIf="partSale.priceList">
                        <a [routerLink]="['/price-list', partSale.priceList?.id, 'view']">{{ partSale.priceList?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/part-sale', partSale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
